.chart-container{
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.chart{
  padding: 4px;
  width: 500px;
}

.chart h6{
  color: var(--text);
  font-weight: 600;
}

