.nav{
    background-color: white;
    box-shadow: 1px 1px 3px #80808052;
    gap: 20px;
    margin: 0;
    padding: 8px 4px;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.profile-pic{
    margin-right: 10px;
}

img{
    width: 27px;
    border-radius: 50%;
}