
.side-nav-container{
    background-color: var(--primary);
    width: 215px;
    height: calc(100vh - 45px);
    position: sticky;
    color: white;
    transition: 0.4s;
    bottom: 0;
    top: 45px;
}

.nav-upper, .nav-heading, .nav-menu, .menu-item{
    display: grid;
    overflow: hidden;
}



.nav-heading{
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

.nav-brand{
    margin-top: 24px;
    text-align: center;
    padding: 0px 10px;
}

.hamburger{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: var(--primaryLight);
    border: 2px solid white;
    padding: 15px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

.hamburger .active{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}



.inactive{
    color: white;
    display: flex;
    text-align: center;
    display: none;
    
}

.hamburger:hover .active{
    display: none;
}

.hamburger:hover .inactive{
   display: flex;
   align-items: center;
   justify-content: center;
}

.side-nav-container-NX{
    width: 60px;
}

.nav-menu{
    grid-template-rows: repeat(7, 1fr);
    /* margin-top: 50px; */
}

.menu-item{
    height: 45px;
    width: 12em;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    /* text-transform: uppercase; */
    margin: auto 6px;
    border-radius: 30px;
    position: relative;
    color: var(--secondary);
}

.menu-item-NX{
    margin: auto;
    width: 3.5em;
}

.menu-item:hover{
    color: var(--secondary);
    background-color: var(--primaryLight);
}

.active-menu-item{
    background-color: var(--primaryLight);
}

.menu-item .icon{
    padding:0 20px;
  
}

.menu-item .title{
    margin: 0;
    font-weight: 500;
}

.nav-footer{
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    padding: 0px 8px;
    /* grid-template-columns: 2fr 1fr; */
    background-color: var(--primary);
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 4px;
}

.nav-footer-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-footer-user-account-name{
    font-size: 15px;
    /* padding: 0 20px; */
}

.nav-footer-user-account-type{
    margin-top: -15px;
    color: gray;
    font-size: 13px;
}

.logout-icon{
    padding: 12px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.logout-icon:hover{
    background-color: var(--primaryLight);
}
