.controls-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-table-container{
    padding-top: 20px;
}

.user-table-card{
    height: 100vh;
    background-color: white;
}