.body-container{
  display: flex;
  background-color:  #ecd9fb30; 
  /* height: calc(100vh - 45px); */
  /* position: fixed; */
}

.page-container{
  /* background-color:  #ecd9fb30; */
  width: 100%;
  margin: 25px 34px;
}