
/* .container{
  margin: 0;
  width: min(100% - 2rem);
} */

.body-container{
  display: flex;
  background-color:  #ecd9fb30; 
  /* position: fixed; */
}

.page-container{
  /* background-color:  #ecd9fb30; */
  width: 100%;
  margin: 25px 34px;
}

