@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root{
  --primary: #583e72;
  --primaryLight: #9876b9;
  --secondary: #ff8d72;
  --text: grey;
  --box-shadow:  1px 1px 5px #80808066;
  --box-shadow-light: 0px 0px 2px #80808066;
}

*{
  font-family: 'Montserrat';
}
body {

  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888840; 
  border-radius : 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.329); 
}