/* global */
.user-detail-main-container{
    font-size: 14px;
}
.space-between-inline {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.bold{
    font-weight: 700;
    color: black;
}
/* global */


/* library styles */
.css-w4z10b-MuiStack-root{
    height: 45px;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600 !important;
    font-size: 15px !important;
}

/* library styles */
.react-datepicker-wrapper{
    flex: 1 !important;
}

/* library styles */

/*profile container */
.user-detail-container{
    display: flex;
    flex-direction: row;
    padding-inline: 4px;
    gap: 20px;
}

.user-action-profile-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    color : var(--text);
}


.user-detail-profile-container{
    background-color: white;
    box-shadow: var(--box-shadow-light);
    border-radius: 4px;
    padding: 10px;

}

.user-detail-profile-container .account-status{
    display: flex;
    justify-content: flex-end;
}

.account-status p{
    margin: 3px;
    font-size: 10px;
    background-color: #caedca;
    color: green;
    border-radius: 11px;
    /* padding: 4px; */
    padding-inline: 4px;
}

.user-detail-profile-container .profile-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.address-container .address{
    text-align: right;
}



.block-btn-container .block-btn{
    background-color: #e92424d4;
    border: none;
    color: #ffffffd1;
    padding: 4px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.block-btn-container .block-btn:active{
    box-shadow: inset 0 0 1px 3px white;
}


/* profile container */

/*main contents */

.main-contents-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content-tab .tab-btn{
  width: 33%;
  border: none;
  padding : 8px;
  background-color: white;
  box-shadow: var(--box-shadow-light);
  transition: 0.5s ease;
  
}

.tab-btn:hover{
    cursor: pointer;
}

.main-content-tab .btn-2{
   border-left: 1px solid #f3f3f3;
   border-right: 1px solid #f3f3f3;
}

.main-content-tab .btn-1{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.main-content-tab .btn-3{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}


.active-tab{
    transition: 0.5s ease;
    color : white;
    background-color: var(--primaryLight) !important;
}


.tab-content{
    display: none;
}

.main-content-tab-contents{
    background-color: white;
    margin-block: 20px;
    box-shadow: var(--box-shadow-light);
}

.active-content{
    display: block;
}


.attendance-container{
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
}

.attendance-container .average-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.average-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-block: 20px;
}

.average-field-container .icon img{
    width: 25px;

}
.average-field-container .avg-data-col{
    display: flex;
    flex-direction: column;
}



.avg-data-col .avg-title{
    color : var(--text);
    font-size: 12px;
}

.clock-out-container{
    display: flex;
    gap: 4px;
}

.clock-out-container .icon{
    color : var(--primary);
}



/*main contents */